using System;
using System.Collections.Generic;

class Program
{
    static void Main()
    {
        Console.Write("Enter a string: ");
        string userInput = Console.ReadLine().ToLower();

        Dictionary<char, int> letterCount = new Dictionary<char, int>();
        foreach (char letter in userInput)
        {
            if (Char.IsLetter(letter))
            {
                if (letterCount.ContainsKey(letter))
                {
                    letterCount[letter]++;
                }
                else
                {
                    letterCount.Add(letter, 1);
                }
            }
        }

        foreach (KeyValuePair<char, int> count in letterCount)
        {
            Console.WriteLine("{0} - {1}", count.Key, count.Value);
        }
    }
}
